body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}

.frame {
  display: grid;
  grid-template-columns: 120px 1fr 40px;
  grid-template-rows: 120px 1fr 100px;
  width: 400px;
  height: 400px;
  background: rgb(8, 0, 0);
  gap: 10px;
  padding: 10px;
}

/* COLORS */
.white {
  background: #f5f1dc;
}

.red {
  background: #e9463a;
}

.blue {
  background: #4aa0c8;
}

.yellow {
  background: #f2e81a;
}

/* POSITIONING */
.top-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.middle-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.blue {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.red {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.bottom-wide {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.right-small {
  grid-column: 3 / 4;
  grid-row: 3 / 3;
}

.yellow {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}